.DS_Store
__MACOSX/
__pycache__/
validation_repo/*
!validation_repo/README.md
d4j_buggy_repo/*
!d4j_buggy_repo/README.md

tools/npr4j/models/*
tools/Tufano/model/*
tools/RewardRepair/model/*
tools/TBar/target/*
!tools/TBar/target/dependency/
tools/SimFix/repo_simfix_*